<!DOCTYPE html>
from flask import *
from flask_ngrok import run_with_ngrok
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Winnie-the-Pooh</title>
	<link rel="icon" href="static/images/Winnie-the-Pooh.jpg">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=League+Spartan&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="static/styles.css">
</head>
<body>

	<!-- Header section -->
	<header>
		<img src="static/images/Winnie-the-Pooh.jpg">
		<h1>Winnie-the-Pooh</h1>
	</header>

	<!-- Main section -->
	<main>
		<h2>About Winnie-the-Pooh</h2>
		<p>Winnie-the-Pooh, also called Pooh Bear and Pooh, is a fictional anthropomorphic teddy bear created by English author A. A. Milne and English illustrator E. H. Shepard.</p>
		<img src="static/images/Winnie-the-Pooh-Splash.jpg">
		<p class="caption">Winnie-the-pooh with his friends</p>

		<!-- History -->
		<h2>History About Winnie-the-Pooh</h2>
		<ul>
			<li>Winnie-the-Pooh first appeared by name on 24 December 1925, in a Christmas story commissioned and published by the London newspaper Evening News. It was illustrated by J. H. Dowd.</li>
			<li>On 6 January 1930, Stephen Slesinger purchased US and Canadian merchandising, television, recording, and other trade rights to the Winnie-the-Pooh works from Milne and created the first Pooh doll, record, board game, puzzle, US radio broadcast, animation, and motion picture.</li>
			<li>The first time Pooh and his friends appeared in colour was 1932, when he was drawn by Slesinger in his now-familiar red shirt and featured on an RCA Victor picture record. </li>
			<li>In 1961, Shirley Slesinger Lasswell licensed rights to Walt Disney Productions in exchange for royalties in the first of two agreements between Stephen Slesinger, Inc., and Disney.</li>
		</ul>

		<!-- Adaptions -->
		<h2>Pooh's other Adaptions</h2>
		<p>There are many cultural and creative products of Winnie-the-Pooh, especially for toys, movies and books.</p>
		<ul>
			<li><a href="https://www.shopdisney.co.uk/disney/movies/winnie-the-pooh-and-friends" target="_blank">Toy</a></li>
			<li><a href="https://www.youtube.com/watch?v=uNdvn0qGMu0" target="_blank">Movie</a></li>
			<li><a href="https://www.waterstones.com/series/winnie-the-pooh" target="_blank">Book</a></li>		
		</ul></a>
	</main>

	<!-- Footer section -->
	<footer>
		<p>Demo site for the Web Development exercise for the <a href="https://courses.warwick.ac.uk/modules/2021/WM9A4-15" target="_blank">Digital Development with Python</a> module.</p>
	</footer>
</body>
</html>